<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizarrap - Resgistro</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">
</head>
<body>

    <form action="#" th:action="@{/logout}" method="get">
        <button type="submit" class="btn btn-primary" name="sesion">Cerrar Sesion</button>
    </form>

    <form action="#" th:action="@{/}" method="get">
        <button type="submit" class="btn btn-primary" name="sesion">Volver al inicio</button>
    </form>

    <div class="container border gx-5">
        <h1 >Registrar Usuario</h1>
        <form action="#" th:action="@{/usuarios/register}" th:object="${usuario}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" th:field="*{nombre}"/>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input id="apellido" type="text" th:field="*{apellido}"/>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" th:field="*{email}"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" th:field="*{password}"/>
            </div>
            <button type="submit" class="btn btn-primary" name="nuevoUsuario">Registrar</button>
        </form>
    </div>
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js" ></script>
</body>
</html>