<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizarrap</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <h1>Inicio</h1>
    <a class="badge badge-primary" th:href="@{/register}">Registrar Usuario</a>
</div>

<script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js" ></script>
</body>
</html>